*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    height: 486px;
    width: 1440px;
    margin: 0 auto;
    background-color: #1b3764;
    display: flex;
    justify-content: space-between;
    padding: 90px 142px 145px 75px;
}
.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 45px;
}

.logotext {
	font-size: 26px;
	color: white;
}
.socials{
    width: 240px;
    display: flex;
    justify-content:space-between;
}
.socials div{
    width: 55px;
    height: 55px;
    color: aliceblue;
    border: 1px solid #FFCA42;
    display: flex;
	justify-content: center;
	align-items: center;
}
h3{
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
}
.footer p{
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    margin-bottom: 20px;
}
p img{
    padding: 3px;
}